.land-body {
  margin-top: 15%;
  width: 45%;
}

.land {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}

.teal-text {
  margin: 0.05em;
  margin-bottom: 15px;
  padding: 0.1em;
  font-size: 4rem;
}

.land hr {
  width: 100%;
  margin: 5px 0;
  border-top: 3px dotted gray;
}

.skill-icon {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.skill-icon i {
  padding: 5px 15px;
}
.fa-html5 {
  color: #ff5e57;
}
.fa-css3-alt {
  color: #0fbcf9;
}
.fa-js-square {
  color: #ffa801;
}
.fa-react {
  color: #0fbcf9;
}

@media (prefers-reduced-motion: no-preference) {
  .fa-react {
    animation: fa-react-spin infinite 20s linear;
  }
}

@keyframes fa-react-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
