.ex-y {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: left;
}
.ex-descript {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: left;
}
.ex-y p,
.ex-descript p {
  margin: 10px;
  padding: 5px;
}
