.clock-container {
  margin: 20px 10px 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.clock-content {
  width: 80%;
  margin: 10px;
  padding: 10px;
  align-self: center;
  text-align: -webkit-center;
  border-radius: 5px;
  background-color: lightgray;
}
.clock-text {
  display: flex;
  flex-flow: column nowrap;
}
.clock-text h4 {
  text-align: left;
  width: 305px;
}
.clock-content p {
  margin: 10px;
  padding: 10px;
}
.clock-text ul {
  list-style: none;
  text-align: left;
  padding-left: 15px;
}

.clock-title {
  width: auto;
  margin: 10px;
  padding: 15px;
}

.clock-title h2 {
  padding-left: 10px;
}
.clock-title hr {
  width: 28%;
  margin: 0;
  border-top: 3px solid lightgray;
}

.link-icon {
  display: flex;
  justify-content: space-around;
}

.link-icon p {
  margin: 0;
  padding: 5px;
}

.link-icon i {
  font-size: 2em;
  color: whitesmoke;
}

.link-icon i:hover {
  color: darkgray;
  transition: 1.2s;
}
@media (max-width: 450px) {
  .clock-container {
    margin: 20px 10px 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .clock-title h2 {
    padding-left: 0;
    text-align: center;
  }

  .clock-title hr {
    width: auto;
  }

  .jumbotron {
    flex-flow: column nowrap;
  }
  .clock-content {
    width: 90%;
    border-radius: 5px;
    background-color: lightgray;
  }
}
