.dropdown-menu {
  width: 245px;
  text-align: left;
}

.dropdown-menu a {
  margin-left: 15px;
  text-decoration: none;
  color: lightslategray;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
}

.dropdown-menu a:hover {
  text-decoration: none;
  color: darkgray;
}

/*
.dropdown-menu > a:nth-child(9) {
  margin-left: 15px;
  text-decoration: none;
  color: lightslategray;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
}

/* 요소 | http://localhost:3000/todolist */
/*
.dropdown-menu > a:nth-child(7) {
  margin-left: 15px;
  text-decoration: none;
  color: lightslategray;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
}

/* 요소 | http://localhost:3000/todolist */
/*
.dropdown-menu > a:nth-child(5) {
  margin-left: 15px;
  text-decoration: none;
  color: lightslategray;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
}

/* 요소 | http://localhost:3000/todolist */
/*
.dropdown-menu > a:nth-child(3) {
  margin-left: 15px;
  text-decoration: none;
  color: lightslategray;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
}

/* 요소 | http://localhost:3000/todolist */
/*
.dropdown-menu > a:nth-child(1) {
  margin-left: 15px;
  text-decoration: none;
  color: lightslategray;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
}*/

@media screen and (max-width: 500px) {
  .container > div:nth-child(1) > div:nth-child(1) > h2:nth-child(1) {
    width: 350px;
  }
  .mr-auto {
    text-align: start;
  }
  .about-text > p:nth-child(1) {
    letter-spacing: 2px;
  }
}
