div.row:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) {
  display: flex;
  /*! justify-items: center; */
  flex-direction: column;
  align-items: center;
}
.rounded-circle {
  width: 150px;
  height: 150px;
  margin: 15px;
}
.col-lg-auto {
  text-align: left;
}

.col-lg-auto i {
  margin: 5px;
  margin-right: 10px;
}
.col-lg-auto h4 {
  margin-bottom: 1rem;
}
